body {
	margin:0; 
	padding:0
}

.wrapper {
	position: relative; 
}

.text {
	position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-family:'Poiret One', cursive;
    font-size: 5vw;
}

canvas {
	background-color: #850405; 
	width: 100vw;
	height:100vh;
}